.home-page
  display: flex
  flex-direction: column
  gap: 2rem
  padding: 3rem

  h2
    font-size: 2rem
    margin-bottom: 10px

  h2
    font-size: 1.5rem
    margin-bottom: 10px

  .carousel-section
    display: flex
    flex-direction: column
    border: 2px solid
    padding: 2rem
    gap: 2rem



